nav{list-style-type: none;}
.nav-item{list-style-type: none;}
.one{height: 15em; width: 20em; margin-left: 1em; border-radius: 5em;}
.two{display: inline;}
.three{padding-left: 18em;}
.four{padding-left: 3em;}
.five{padding-left: 0.25em;}
.six{padding-left: 3em; padding-top: 1em;}
.seven{margin-left: 0.25em;}